/*
 * Empire, the Wargame of the Century (tm)
 * Copyright (C) 1978-2004 by Walter Bright
 * All Rights Reserved
 *
 * You may use this source for personal use only. To use it commercially
 * or to distribute source or binaries of Empire, please contact
 * www.digitalmars.com.
 *
 * Written by Walter Bright.
 *
 * Use entirely at your own risk. There is no warranty, expressed or implied.
 */

#include <windows.h>
#include "winemp.h"

1 BITMAP unknown.bmp
2 BITMAP city.bmp
3 BITMAP sea.bmp
4 BITMAP land.bmp

5 BITMAP city1.bmp
6 BITMAP a1.bmp
7 BITMAP f1.bmp
8 BITMAP fs1.bmp
9 BITMAP d1.bmp
10 BITMAP t1.bmp
11 BITMAP s1.bmp
12 BITMAP r1.bmp
13 BITMAP c1.bmp
14 BITMAP b1.bmp

15 BITMAP city2.bmp
16 BITMAP a2.bmp
17 BITMAP f2.bmp
18 BITMAP fs2.bmp
19 BITMAP d2.bmp
20 BITMAP t2.bmp
21 BITMAP s2.bmp
22 BITMAP r2.bmp
23 BITMAP c2.bmp
24 BITMAP b2.bmp

25 BITMAP city3.bmp
26 BITMAP a3.bmp
27 BITMAP f3.bmp
28 BITMAP fs3.bmp
29 BITMAP d3.bmp
30 BITMAP t3.bmp
31 BITMAP s3.bmp
32 BITMAP r3.bmp
33 BITMAP c3.bmp
34 BITMAP b3.bmp

35 BITMAP city4.bmp
36 BITMAP a4.bmp
37 BITMAP f4.bmp
38 BITMAP fs4.bmp
39 BITMAP d4.bmp
40 BITMAP t4.bmp
41 BITMAP s4.bmp
42 BITMAP r4.bmp
43 BITMAP c4.bmp
44 BITMAP b4.bmp

45 BITMAP city5.bmp
46 BITMAP a5.bmp
47 BITMAP f5.bmp
48 BITMAP fs5.bmp
49 BITMAP d5.bmp
50 BITMAP t5.bmp
51 BITMAP s5.bmp
52 BITMAP r5.bmp
53 BITMAP c5.bmp
54 BITMAP b5.bmp

55 BITMAP city6.bmp
56 BITMAP a6.bmp
57 BITMAP f6.bmp
58 BITMAP fs6.bmp
59 BITMAP d6.bmp
60 BITMAP t6.bmp
61 BITMAP s6.bmp
62 BITMAP r6.bmp
63 BITMAP c6.bmp
64 BITMAP b6.bmp


BMP_CURSOR BITMAP cursor.bmp
BMP_SPLASH BITMAP empire2.bmp
BMP_UNKNOWN10 BITMAP unknown10.bmp
BMP_BLAST BITMAP blast.bmp
BMP_BLASTMASK BITMAP blastmask.bmp

About ICON empire.ico

AboutBox DIALOG  20, 20, 160, 110
     STYLE WS_POPUP | WS_DLGFRAME
     {
     CTEXT "Empire 2.03"                 -1,   0, 12, 160,  8
     ICON  "About"                       -1,   8,  8,   0,  0
     CTEXT "Wargame of the Century"      -1,   0, 20, 160,  8
     CTEXT "(c) Walter Bright 1978-2004" -1,   0, 32, 160,  8
     CTEXT "All Rights Reserved"	 -1,   0, 40, 160,  8
     CTEXT "www.classicempire.com"	 -1,   0, 48, 160,  8
     CTEXT "powered by Digital Mars D"   -1,   0, 64, 160,  8
     CTEXT "www.digitalmars.com/d/"	 -1,   0, 72, 160,  8
     DEFPUSHBUTTON "OK"                IDOK,  64, 90,  32, 14, WS_GROUP
     } 


#define TABGRP (WS_TABSTOP | WS_GROUP)

CitySelectBox DIALOG 20, 20, 134, 172
     STYLE WS_POPUP | WS_DLGFRAME
     {
     CTEXT       "City Production Demands" -1, 4,  4, 140, 8
     CTEXT	 ""	IDD_SENSOR	68, 18, 60, 60
     CTEXT	 ""	IDD_TILE	68, 86, 60, 60
     GROUPBOX    ""       -1,           4,  14,  58, 112
     RADIOBUTTON "&Armies"           IDD_ARMIES,     8,  24,  48,  12, TABGRP
     RADIOBUTTON "&Fighters"         IDD_FIGHTERS,   8,  36,  48,  12
     RADIOBUTTON "&Destroyers"       IDD_DESTROYERS, 8,  48,  48,  12
     RADIOBUTTON "&Transports"	     IDD_TRANSPORTS, 8,  60,  48,  12
     RADIOBUTTON "&Submarines"       IDD_SUBMARINES, 8,  72,  48,  12
     RADIOBUTTON "C&ruisers"         IDD_CRUISERS,   8,  84,  48,  12
     RADIOBUTTON "&Carriers"         IDD_CARRIERS,   8,  96,  48,  12
     RADIOBUTTON "&Battleships"      IDD_BATTLESHIPS,8, 108,  48,  12
     DEFPUSHBUTTON "OK"         IDOK,        12, 132,  40,  14, WS_GROUP
     PUSHBUTTON  "Cancel"       IDCANCEL,    12, 152,  40,  14, WS_GROUP
     }

InitBox DIALOG 20, 20, 68, 116
     STYLE WS_POPUP | WS_DLGFRAME
     {
     CTEXT       "New Game" -1,               4,   4,  58,   8
     GROUPBOX    "Num Enemies"  -1,           4,  16,  58,  34
     RADIOBUTTON "&0"           IDD_ONE,      8,  26,  16,  12, TABGRP
     RADIOBUTTON "&1"           IDD_TWO,      26, 26, 16,  12
     RADIOBUTTON "&2"           IDD_THREE,    44, 26, 16,  12
     RADIOBUTTON "&3"           IDD_FOUR,     8,  36, 16,  12
     RADIOBUTTON "&4"           IDD_FIVE,     26, 36, 16,  12
     RADIOBUTTON "&5"           IDD_SIX,      44, 36, 16,  12
     RADIOBUTTON "&Demo"        IDD_DEMO,     20, 58,  48,  12,	WS_GROUP
     DEFPUSHBUTTON "OK"         IDOK,         14, 76,  40,  14, WS_GROUP
     PUSHBUTTON  "Cancel"       IDCANCEL,     14, 96,  40,  14, WS_GROUP
     }

PopMenu MENU
    {
    POPUP ""
	{
	MENUITEM "&New Game...",	IDM_NEW
	MENUITEM "&Open Game...",	IDM_OPEN
	MENUITEM "&Save Game...",	IDM_SAVE
	MENUITEM "So&und on/off",	IDM_SOUND
	MENUITEM "&About Empire...",	IDM_ABOUT
	MENUITEM SEPARATOR
	MENUITEM "E&xit",		IDM_CLOSE
	}
    }

Empire MENU
    {
    POPUP "&File"
	{
	MENUITEM "&New Game...",	IDM_NEW
	MENUITEM "&Open Game...",	IDM_OPEN
	MENUITEM "&Save Game...",	IDM_SAVE
	MENUITEM SEPARATOR
	MENUITEM "E&xit",		IDM_CLOSE
	}

    POPUP "&View"
	{
	MENUITEM "+ Zoom in",		IDM_ZOOMIN
	MENUITEM "- Zoom out",		IDM_ZOOMOUT
	MENUITEM "N Center screen",	IDM_N
	MENUITEM "O Change POV",	IDM_POV
	}

    POPUP "&Cmd"
	{
	MENUITEM "F From To",		IDM_F
	MENUITEM "G Goto city",		IDM_G
	MENUITEM "H 20 free moves",	IDM_H
	MENUITEM "I Direction",		IDM_I
	MENUITEM "J Sound on/off",	IDM_SOUND
	MENUITEM "K Wake up",		IDM_K
	MENUITEM "L Load A/F",		IDM_L
	MENUITEM "P City production",	IDM_P
	MENUITEM "R Move randomly",	IDM_R
	MENUITEM "S Sentry",		IDM_S
	MENUITEM "U Wake up A/F",	IDM_U
	MENUITEM "Y Survey",		IDM_Y
	MENUITEM "Esc Exit mode",	IDM_ESC
	MENUITEM "< Faster",		IDM_FASTER
	MENUITEM "> Slower",		IDM_SLOWER
	}

    POPUP "&Help"
	{
	MENUITEM "&Help",		IDM_HELP
	MENUITEM "&About Empire...",	IDM_ABOUT
	}
    }
